
<footer>
		<div class="container">
			<ul class="nav justify-content-center">
				<li class="nav-item">
					<a class="nav-link active" href="#">Giới thiệu về chúng tôi</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">Trợ giúp</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">API</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">Quyền riêng tư</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">Điều khoản</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">Hashtag</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">Ngôn ngữ</a>
				</li>
			</ul>
			<h3>© 2020 FAKEBOOK FROM MTA</h3>
		</div>
	</footer>