<nav class="sticky-top">
    <div class="container nav-contain">
        <div class="row">
            <div class="col-3">
                logo
            </div>
            <div class="col-6">
                <div class="search">
                    <input type="text" class="form-control" placeholder="Tìm kiếm">
                </div>
            </div>
            <div class="col-3">
                <div class="option">
                    <i class="fa fa-compass" aria-hidden="true"></i>
                    <div class="dropdown">
                        <i class="fa fa-heart-o " data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></i>
                        <div class="dropdown-menu">
                            <div class="noti-box">
                                <img class="rounded rounded-circle" height="35px" width="35px" src="" alt="">
                                <p class="noti-name">name</p>
                                <p class="noti-description">đã thích ảnh của bạn</p>
                                <img height="35px" width="35px" src="" alt="">
                            </div>
                            <div class="noti-box">
                                <img class="rounded rounded-circle" height="35px" width="35px" src="" alt="">
                                <p class="noti-name">name</p>
                                <p class="noti-description">đã thích ảnh của bạn</p>
                                <img height="35px" width="35px" src="" alt="">
                            </div>
                            <div class="noti-box">
                                <img class="rounded rounded-circle" height="35px" width="35px" src="" alt="">
                                <p class="noti-name">name</p>
                                <p class="noti-description">đã thích ảnh của bạn</p>
                                <img height="35px" width="35px" src="" alt="">
                            </div>
                        </div>
                    </div>
                    <i class="fa fa-user-o" aria-hidden="true"></i>
                </div>
            </div>
        </div>
    </div>
</nav>
