<header class="sticky-top">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h3><a href="#" title="">InsBook</a></h3>
            </div>
            <div class="col-md-4">
                <form action="#" method="get" accept-charset="utf-8">
                    <div class="form-group">
                        <input type="text" class="form-control" id="" placeholder="Tìm kiếm">
                    </div>
                    <button type="submit" class="btn btn-light"><i class="fas fa-search"></i></button>
                </form>
            </div>
            <div class="col-md-1">
            </div>
            <div class="col-md-3">
                <div class="header-icon">
                    <button type="button" class="btn btn-light"><i class="fas fa-home"></i></button>
                    <button type="button" class="btn btn-light"><i class="far fa-compass"></i></button>
                    <button type="button" class="btn btn-light dropdown-toggle" id="notification-icon" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="far fa-heart"></i></button>
                    <button type="button" class="btn btn-light"><i class="far fa-user"></i></button>
                    <div class="dropdown-menu" aria-labelledby="notification-icon" id="header-notification">
                        <div class="dropdown-item daxem">
                            <div class="notification-users-avatar">
                                <img src="https://instagram.fhan5-5.fna.fbcdn.net/v/t51.2885-15/sh0.08/e35/s640x640/84635405_194047331707172_905347091518735666_n.jpg?_nc_ht=instagram.fhan5-5.fna.fbcdn.net&_nc_cat=108&_nc_ohc=30T6rFxoFPkAX_My8Gi&oh=6eeb993a747a48473844e02d19aa1f51&oe=5EC6635D" alt="">
                            </div>
                            <div class="notification-user-content">
                                <p class="notification-user-detail"><b>Nguyễn Du</b> đã viết Đầu lòng hai ả tố nga thúy kiều là chị em là thúy vân mai cốt cách tuyết tinh thân mỗi người một vẻ mười phân vẹn mười</p>
                                <time datetime="2011-01-12" class="notification-user-datetime">123 ngày trước</time>
                            </div>
                        </div>
                        <div class="dropdown-item daxem">
                            <div class="notification-users-avatar">
                                <img src="https://instagram.fhan5-5.fna.fbcdn.net/v/t51.2885-15/sh0.08/e35/s640x640/84635405_194047331707172_905347091518735666_n.jpg?_nc_ht=instagram.fhan5-5.fna.fbcdn.net&_nc_cat=108&_nc_ohc=30T6rFxoFPkAX_My8Gi&oh=6eeb993a747a48473844e02d19aa1f51&oe=5EC6635D" alt="">
                            </div>
                            <div class="notification-user-content">
                                <p class="notification-user-detail"><b>Nguyễn Du</b> đã viết Đầu lòng hai ả tố nga thúy kiều là chị em là thúy vân mai cốt cách tuyết tinh thân mỗi người một vẻ mười phân vẹn mười</p>
                                <time datetime="2011-01-12" class="notification-user-datetime">123 ngày trước</time>
                            </div>
                        </div>
                        <div class="dropdown-item">
                            <div class="notification-users-avatar">
                                <img src="https://instagram.fhan5-5.fna.fbcdn.net/v/t51.2885-15/sh0.08/e35/s640x640/84635405_194047331707172_905347091518735666_n.jpg?_nc_ht=instagram.fhan5-5.fna.fbcdn.net&_nc_cat=108&_nc_ohc=30T6rFxoFPkAX_My8Gi&oh=6eeb993a747a48473844e02d19aa1f51&oe=5EC6635D" alt="">
                            </div>
                            <div class="notification-user-content">
                                <p class="notification-user-detail"><b>Nguyễn Du</b> đã viết Đầu lòng hai ả tố nga thúy kiều là chị em là thúy vân mai cốt cách tuyết tinh thân mỗi người một vẻ mười phân vẹn mười</p>
                                <time datetime="2011-01-12" class="notification-user-datetime">123 ngày trước</time>
                            </div>
                        </div>
                        <div class="dropdown-item daxem">
                            <div class="notification-users-avatar">
                                <img src="https://instagram.fhan5-5.fna.fbcdn.net/v/t51.2885-15/sh0.08/e35/s640x640/84635405_194047331707172_905347091518735666_n.jpg?_nc_ht=instagram.fhan5-5.fna.fbcdn.net&_nc_cat=108&_nc_ohc=30T6rFxoFPkAX_My8Gi&oh=6eeb993a747a48473844e02d19aa1f51&oe=5EC6635D" alt="">
                            </div>
                            <div class="notification-user-content">
                                <p class="notification-user-detail"><b>Nguyễn Du</b> đã viết Đầu lòng hai ả tố nga thúy kiều là chị em là thúy vân mai cốt cách tuyết tinh thân mỗi người một vẻ mười phân vẹn mười</p>
                                <time datetime="2011-01-12" class="notification-user-datetime">123 ngày trước</time>
                            </div>
                        </div>
                        <div class="dropdown-item daxem">
                            <div class="notification-users-avatar">
                                <img src="https://instagram.fhan5-5.fna.fbcdn.net/v/t51.2885-15/sh0.08/e35/s640x640/84635405_194047331707172_905347091518735666_n.jpg?_nc_ht=instagram.fhan5-5.fna.fbcdn.net&_nc_cat=108&_nc_ohc=30T6rFxoFPkAX_My8Gi&oh=6eeb993a747a48473844e02d19aa1f51&oe=5EC6635D" alt="">
                            </div>
                            <div class="notification-user-content">
                                <p class="notification-user-detail"><b>Nguyễn Du</b> đã viết Đầu lòng hai ả tố nga thúy kiều là chị em là thúy vân mai cốt cách tuyết tinh thân mỗi người một vẻ mười phân vẹn mười</p>
                                <time datetime="2011-01-12" class="notification-user-datetime">123 ngày trước</time>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>