
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Client/Views/Shared/Group.cshtml";
}
@section css {
    <link href="~/Assets/css/pages/group_thaoluan.css" rel="stylesheet" />
}
@{
    Html.RenderPartial("~/Areas/Client/Views/Layout/header.cshtml");
}
<main>
    <div class="container">
        <div class="row">
            <div class="col-25">
                @{
                    Html.RenderPartial("~/Areas/Client/Views/Layout/group/group_sidebar.cshtml");
                }
            </div>
            <div class="col-50">
                @{
                    Html.RenderPartial("~/Areas/Client/Views/Layout/group/group_header.cshtml");
                }
                <!-- Group-post -->
                <section id="group-post">
                    Viết bài (summer note hoặc ckeditor)
                </section>
                <section id="group-content">
                    <div class="post-box">
                        <div class="post-title">
                            <img height="50px" width="50px" class="rounded rounded-circle" src="~/Assets/media/78834391_459110258126325_6149001856166133760_n.jpg" alt="">
                            <p>name</p>
                        </div>
                        <div class="post-content" data-toggle="modal" data-target="#modal1">
                            <img class="img-fluid" src="~/Assets/media/78834391_459110258126325_6149001856166133760_n.jpg" alt="">
                        </div>
                        <div class="post-socialfunction">
                            <div class="like-comment">
                                <i class="fa fa-heart-o" aria-hidden="true"></i>
                                <i class="fa fa-comment-o" aria-hidden="true"></i>
                                <i class="fa fa-paper-plane-o" aria-hidden="true"></i>
                            </div>
                            <div class="like-number">
                                200 likes
                            </div>
                            <div class="post-caption">
                                Caption
                            </div>
                            <div class="post-comment">
                                <p class="comment-name">Name</p>
                                <p>comment....</p>
                            </div>
                        </div>
                        <div class="post-usercomment">
                            <input class="form-control" type="text" placeholder="Thêm bình luận...">
                            <button>Đăng</button>
                        </div>
                        <!-- Modal -->
                        <div class="post-box-modal modal fade" id="modal1">
                            <div class="modal-dialog modal-dialog-centered">
                                <div class="modal-content">
                                    <div class="col-7">
                                        <div class="post-content">
                                            <img class="img-fluid" src="~/Assets/media/78834391_459110258126325_6149001856166133760_n.jpg" alt="">
                                        </div>
                                    </div>
                                    <div class="col-5">
                                        <div class="post-title">
                                            <img height="50px" width="50px" class="rounded rounded-circle" src="~/Assets/media/78834391_459110258126325_6149001856166133760_n.jpg" alt="">
                                            <p>name</p>
                                        </div>
                                        <div class="post-socialfunction">
                                            <div class="post-caption">
                                                Caption
                                            </div>
                                            <div class="like-comment">
                                                <i class="fa fa-heart-o" aria-hidden="true"></i>
                                                <i class="fa fa-comment-o" aria-hidden="true"></i>
                                                <i class="fa fa-paper-plane-o" aria-hidden="true"></i>
                                            </div>
                                            <div class="like-number">
                                                200 likes
                                            </div>
                                            <div class="post-comment">
                                                <p class="comment-name">Name</p>
                                                <p>comment....</p>
                                            </div>
                                        </div>
                                        <div class="post-usercomment">
                                            <input class="form-control" type="text" placeholder="Thêm bình luận...">
                                            <button>Đăng</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="post-box">
                        <div class="post-title">
                            <img height="50px" width="50px" class="rounded rounded-circle" src="~/Assets/media/78834391_459110258126325_6149001856166133760_n.jpg" alt="">
                            <p>name</p>
                        </div>
                        <div class="post-content" data-toggle="modal" data-target="#modal1">
                            <img class="img-fluid" src="~/Assets/media/78834391_459110258126325_6149001856166133760_n.jpg" alt="">
                        </div>
                        <div class="post-socialfunction">
                            <div class="like-comment">
                                <i class="fa fa-heart-o" aria-hidden="true"></i>
                                <i class="fa fa-comment-o" aria-hidden="true"></i>
                                <i class="fa fa-paper-plane-o" aria-hidden="true"></i>
                            </div>
                            <div class="like-number">
                                200 likes
                            </div>
                            <div class="post-caption">
                                Caption
                            </div>
                            <div class="post-comment">
                                <p class="comment-name">Name</p>
                                <p>comment....</p>
                            </div>
                        </div>
                        <div class="post-usercomment">
                            <input class="form-control" type="text" placeholder="Thêm bình luận...">
                            <button>Đăng</button>
                        </div>
                        <!-- Modal -->
                        <div class="post-box-modal modal fade" id="modal1">
                            <div class="modal-dialog modal-dialog-centered">
                                <div class="modal-content">
                                    <div class="col-7">
                                        <div class="post-content">
                                            <img class="img-fluid" src="~/Assets/media/78834391_459110258126325_6149001856166133760_n.jpg" alt="">
                                        </div>
                                    </div>
                                    <div class="col-5">
                                        <div class="post-title">
                                            <img height="50px" width="50px" class="rounded rounded-circle" src="~/Assets/media/78834391_459110258126325_6149001856166133760_n.jpg" alt="">
                                            <p>name</p>
                                        </div>
                                        <div class="post-socialfunction">
                                            <div class="post-caption">
                                                Caption
                                            </div>
                                            <div class="like-comment">
                                                <i class="fa fa-heart-o" aria-hidden="true"></i>
                                                <i class="fa fa-comment-o" aria-hidden="true"></i>
                                                <i class="fa fa-paper-plane-o" aria-hidden="true"></i>
                                            </div>
                                            <div class="like-number">
                                                200 likes
                                            </div>
                                            <div class="post-comment">
                                                <p class="comment-name">Name</p>
                                                <p>comment....</p>
                                            </div>
                                        </div>
                                        <div class="post-usercomment">
                                            <input class="form-control" type="text" placeholder="Thêm bình luận...">
                                            <button>Đăng</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <div class="col-25">
                <div class="fixed-side">
                    <!-- Messenger-section -->
                    @{
                        Html.RenderPartial("~/Areas/Client/Views/Layout/messenger/messenger_section.cshtml");
                    }
                    <!-- Them thanh vien -->
                    <section id="add-member">
                        <p class="add-header">
                            mời thành viên
                        </p>
                        <input class="form-control" type="text" placeholder="Nhập tên thành viên">
                        <p class="add-header">
                            thành viên
                        </p>
                        <div class="member-avatar d-flex">
                            <img class="rounded rounded-circle" width="35px" height="35px" src="~/Assets/media/78834391_459110258126325_6149001856166133760_n.jpg" alt="">
                            <img class="rounded rounded-circle" width="35px" height="35px" src="~/Assets/media/78834391_459110258126325_6149001856166133760_n.jpg" alt="">
                            <img class="rounded rounded-circle" width="35px" height="35px" src="~/Assets/media/78834391_459110258126325_6149001856166133760_n.jpg" alt="">
                            <img class="rounded rounded-circle" width="35px" height="35px" src="~/Assets/media/78834391_459110258126325_6149001856166133760_n.jpg" alt="">
                        </div>
                        <p class="add-header">
                            mô tả
                        </p>
                        <div class="group-description">
                            Mô tả của nhóm
                        </div>
                        <p class="add-header">
                            loại nhóm
                        </p>
                        <div class="group-type">
                            Tổng quát
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
</main>
@{
    Html.RenderPartial("~/Areas/Client/Views/Layout/messenger/messenger.cshtml");
}
@section js{
    <script src="~/Assets/js/messenger.js"></script>
    <script src="~/Assets/js/newsfeed.js"></script>
    <script src="~/Assets/js/love_button.js"></script>
}

