
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Assets/css/pages/user-info.css" rel="stylesheet" />
    <link href="~/Assets/css/layouts/header.css" rel="stylesheet" />
    <link href="~/Assets/css/layouts/footer.css" rel="stylesheet" />
    @RenderSection("css", required: false)
    <title>Personal Page</title>
</head>
<body>
    @{
        Html.RenderPartial("~/Areas/Client/Views/Layout/header.cshtml");
    }
    <main>
        <div id="user-infomation">
            <div class="container">
                <div class="user-info-title">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="user-ava">
                                <img src="~/Images/22904751_688560231353134_2748711313877205190_o.jpg" alt="">
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="user-description">
                                <div class="user-description-one">
                                    <h1 class="user-name">Thắng Bếu</h1>
                                    <a href="/Client/Personal/ChangeGeneralInfo" title="Chỉnh sửa trang cá nhân" class="user-setting"><button type="button" class="btn btn-outline-primary">Chỉnh sửa trang cá nhân</button></a>
                                    <div class="account-setting">
                                        <button type="button" class="btn btn-outline-primary"><i class="fas fa-cog fa-2x"></i></button></a>
                                    </div>
                                </div>
                                <ul class="user-description-two">
                                    <li>
                                        <span><span>123</span> bài viết</span>
                                    </li>
                                    <li>
                                        <span><span>123</span> người theo dõi</span>
                                    </li>
                                    <li>
                                        <span>Đang theo dõi <span>123</span> người dùng</span>
                                    </li>
                                </ul>
                                <div class="user-description-three">
                                    <h1>Vị Vua không ngai</h1>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                @RenderBody()
            </div>
        </div>
    </main>

    @{
        Html.RenderPartial("~/Areas/Client/Views/Layout/footer.cshtml");
    }
</body>
</html>
<script src="~/Assets/media/js/jquery-3.4.1.min.js"></script>
<script src="~/Assets/media/js/popper.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<script src="https://kit.fontawesome.com/5d3f9f4ac6.js" crossorigin="anonymous"></script>
<script src="~/Assets/js/user-info.js"></script>
@RenderSection("js", required: false)
