<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha256-eZrrJcwDc/3uDhsdt61sL2oOBY362qM3lon1gyExkL0=" crossorigin="anonymous" />
    @RenderSection("css", required: false)
    <title>Group</title>
</head>
<body>
    @RenderBody()
</body>
</html>
<script src="~/Assets/media/js/jquery-3.4.1.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
@RenderSection("js", required: false)
