
@{
    ViewBag.Title = "ImagesInfo";
    Layout = "~/Areas/Client/Views/Shared/_PersonalPage.cshtml";

    var temp = (Model.Models.GetProfileModel)ViewBag.Profile;
}
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link" href="/Client/Personal/Index"><i class="fas fa-rss-square"></i><span>Dòng thời gian</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Client/Personal/ChangeGeneralInfor"><i class="far fa-user-circle"></i><span>Giới thiệu</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Client/Personal/FriendsInfo"><i class="fas fa-users"></i><span>Bạn bè</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="/Client/Personal/ImagesInfo"><i class="far fa-images"></i></i><span>Ảnh</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span>Xem thêm</span>
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" href="/Client/Personal/SavedInfo">Lưu trữ</a>
                <a class="dropdown-item" href="/Client/Personal/AlbumInfo">Bộ sưu tập</a>
                <a class="dropdown-item" href="/Client/Personal/VideoInfo">Video</a>
            </div>
        </li>
    </ul>

<!-- Tab panes -->
<div class="tab-content">
    <div class="tab-pane container fade" id="menu1">...</div>
    <div class="tab-pane container fade" id="menu2">...</div>
    <div class="tab-pane container fade" id="menu3">...</div>
    <div class="tab-pane container active" id="menu4">
        <div class="images-list">
            <div class="row">
                @if (temp.myalbum.Count > 0)
                {
                    foreach (var item in temp.myalbum)
                    {
                        <div class="col-md-3">
                            <div class="images-item" id="images-item-@item.anh_id">
                                <div class="images-item-thumbnail">
                                    <img src="~/Images/@item.anh_url" alt="" class="img-fluid">
                                </div>
                                <div class="images-item-info">
                                    <span><i class="fas fa-heart"></i>@item.sothich</span>
                                    <span><i class="fas fa-comment"></i>@item.sobinhluan</span>
                                </div>
                            </div>
                        </div>
                    }
                }
            </div>
        </div>
    </div>
    <div class="tab-pane container fade" id="menu5">...</div>
    <div class="tab-pane container fade" id="menu6">...</div>
    <div class="tab-pane container fade" id="menu7">...</div>
</div>

