@model InsBook.Areas.Client.Models.ChangePassModel

<div class="user-info-title">
    <div class="row">
        <div class="col-md-4">
            <div class="user-ava">
                <img src="http://localhost/messenger-frontend/media/78834391_459110258126325_6149001856166133760_n.jpg" alt="">
            </div>
        </div>
        <div class="col-md-8">
            <div class="user-description">
                <div class="user-description-one">
                    <h1 class="user-name">@Model.Ho @Model.Ten</h1>
                    <a href="http://localhost/messenger-frontend/views/pages/user-info-2.php" title="Chỉnh sửa trang cá nhân" class="user-setting"><button type="button" class="btn btn-outline-primary">Chỉnh sửa trang cá nhân</button></a>
                    <div class="account-setting">
                        <button type="button" class="btn btn-outline-primary"><i class="fas fa-cog fa-2x"></i></button></a>
                    </div>
                </div>
                <ul class="user-description-two">
                    <li>
                        <span><span>123</span> bài viết</span>
                    </li>
                    <li>
                        <span><span>@Model.SoNguoiTheoDoi</span> người theo dõi</span>
                    </li>
                    <li>
                        <span>Đang theo dõi <span>@Model.SoLuongBanBe</span> người dùng</span>
                    </li>
                </ul>
                <div class="user-description-three">
                    <h1>Vị Vua không ngai</h1>
                </div>
            </div>
        </div>
    </div>
</div>
