@import url('../layouts/header.css');
@import url('../layouts/post_box.css');
@import url('../layouts/messenger_section.css');
@import url('../layouts/messenger.css');

body {
    background-color: #f7f7f7;
}

main {
    padding: 50px 0px;
}

    main .container .fixed-side {
        position: fixed;
    }

    main .container .col-25 {
        padding: 0px 10px;
        width: 25%;
    }

    main .container .col-50 {
        padding: 0px 10px;
        width: 50%;
    }

    main #newpost {
        background-color: white;
        border: 1px solid #c8c8c8;
        border-radius: 4px;
        margin-bottom: 30px;
    }

        main #newpost .newpost-header {
            padding: 10px 10px;
            background-color: #f7f7f7;
            border-bottom: 1px solid #c8c8c8;
            border-radius: 4px 4px 0px 0px;
            display: flex;
            justify-content: space-between;
        }

            main #newpost .newpost-header h6 {
                margin: 0px 0px;
                font-size: 16px;
            }

            main #newpost .newpost-header #newpost-close {
                cursor: pointer;
            }

        main #newpost .newpost-input {
            padding: 10px 10px;
            display: flex;
            flex-wrap: wrap;
        }

            main #newpost .newpost-input .user-avatar {
                width: 10%;
            }

            main #newpost .newpost-input .textarea {
                width: 90%;
            }

                main #newpost .newpost-input .textarea textarea {
                    resize: none;
                    transition: 0.3s;
                    height: 50px;
                }

                    main #newpost .newpost-input .textarea textarea:focus {
                        height: 150px;
                    }

            main #newpost .newpost-input .post-image {
                margin: 10px;
            }

            main #newpost .newpost-input .new-media-content {
                margin-top: 10px;
                width: 100%;
                display: flex;
            }

                main #newpost .newpost-input .new-media-content label {
                    font-size: 14px;
                    margin-right: 10px;
                    border: none;
                    background-color: #f0f0f0;
                    border-radius: 20px;
                    padding: 7px 12px;
                }

                main #newpost .newpost-input .new-media-content .submit-btn-contain button {
                    font-size: 15px;
                    margin: 0px 0px;
                    border-radius: 5px;
                    color: white;
                    padding: 5px 0px;
                    background-color: royalblue;
                    border: none;
                    width: 150px;
                }

    main #user-info {
        margin-bottom: 20px;
        display: flex;
        align-items: center;
    }

        main #user-info img {
            margin-right: 10px;
        }

        main #user-info p {
            margin: 0px 0px;
        }

    main #group-contain {
        position: fixed;
    }

        main #group-contain .group-page {
            width: 260px;
            max-width: 260px;
            background-color: white;
            border: 1px solid #c8c8c8;
            border-radius: 4px;
            margin-bottom: 20px;
        }

            main #group-contain .group-page .g-header {
                padding: 10px 15px;
            }

                main #group-contain .group-page .g-header p {
                    margin: 0px 0px;
                }

            main #group-contain .group-page .g-list {
                height: 250px;
                overflow-y: scroll;
            }

                main #group-contain .group-page .g-list ul {
                    padding: 0px 0px;
                    list-style-type: none;
                }

                    main #group-contain .group-page .g-list ul li {
                        padding: 7px 15px;
                    }

                        main #group-contain .group-page .g-list ul li span {
                            margin-right: 10px;
                        }

                            main #group-contain .group-page .g-list ul li span a {
                                font-size: 14.5px;
                                color: black;
                                text-decoration: none;
                            }
