body {
    background-color: rgb(247, 247, 247);
}

main {
    margin-top: 0 !important;

    .container_new {
        .fixed-side {
            position: fixed;

            #user-info {
                .user-avatar {
                    img {
                        object-fit: cover;
                        border: 1px solid red;
                        padding: 1px;
                    }
                }
            }

            #user-name {
                p {
                    a {
                        font-size: 20px;
                        text-decoration: none;
                        color: black;
                    }
                }
            }
        }

        .col-25 {
            padding: 0;
            padding-right: 33px;
            width: 32.5%;
            display: flex;
            justify-content: flex-end;
        }

        .col-50 {
            padding: 0px 10px;
            width: 35%;
        }
    }

    padding: 50px 0px;

    #user-info {
        margin-bottom: 20px;
        display: flex;
        align-items: center;

        img {
            margin-right: 10px;
        }

        p {
            margin: 0px 0px;
        }
    }

    .add-post-box {
        .card-header {
            h3 {
                font-size: 16px;
                margin-bottom: 0;

                i {
                    margin-right: 5px;
                }
            }
        }

        .card-body {
            padding: 12px;

            .card-body-content {
                display: flex;

                .user-ava {
                    width: 42px;
                    height: 42px;
                    margin-right: 8px;

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        border-radius: 50%;
                        border: 1px solid red;
                        padding: 1px;
                    }
                }

                .form-group {
                    margin: 0;
                    padding: 0 48px 0 12px;
                    width: 92%;

                    textarea {
                        resize: none;
                        width: 100%;
                        height: 36px;
                        overflow: hidden;
                        border: none;

                        &:focus {
                            border: none;
                            outline: none;
                            box-shadow: none;
                        }
                    }
                }
            }

            .card-body-input {
                margin-top: 8px;
                /*display: none;*/
                .input-group-text {
                    min-width: 40px;
                }

                input {
                    font-size: 14px;
                }
            }

            .post-diadiem, .post-ganthe, .post-chude {
                display: none;
            }

            .post-ganthe {
                border: 1px solid #ced4da;

                .input-group-prepend {
                    .input-group-text {
                        border: none;
                        /*padding: 0;*/
                    }
                }

                #friends-tag {
                    display: flex;
                    align-items: center;
                    margin-left: 12px;

                    .friends-tag-span {
                        background: #e9ebee;
                        padding: 1px 6px;
                        margin-right: 6px;
                        border: 1px solid #9cb4d8;
                        border-radius: 20px;

                        a {
                            color: gray;
                            text-decoration: none;

                            i {
                                padding-left: 3px;
                            }
                        }
                    }
                }

                #post-banbe-data {
                    border: none;
                    padding: 6px 12px 6px 0;

                    &:focus {
                        outline: none;
                        box-shadow: none;
                        border: none;
                    }
                }
            }

            .card-body-result {
                margin-top: 8px;
                /*display: none;*/
                .card-body-result-text {
                    margin: 0;

                    #result-tenbanbe {
                        margin-right: 5px;
                    }
                }

                .card-body-result-img {
                    margin: 4px 0;
                    display: none;
                    position: relative;
                    overflow-x: auto;
                    /* width */
                    &::-webkit-scrollbar {
                        width: 3px !important;
                    }
                    /* Track */
                    &::-webkit-scrollbar-track {
                        background: #f1f1f1;
                    }
                    /* Handle */
                    &::-webkit-scrollbar-thumb {
                        background: #888;
                    }
                    /* Handle on hover */
                    &::-webkit-scrollbar-thumb:hover {
                        background: #555;
                    }

                    .selected-post-img {
                        height: 100px;
                        flex: 0 0 100px;
                        margin-right: 5px;
                        position: relative;

                        img {
                            object-fit: cover;
                            width: 100%;
                            height: 100%;
                        }

                        .div-close-post-img {
                            position: absolute;
                            top: 0;
                            left: 0;
                            background-color: rgba(0, 0, 0, 0.3);
                            width: 100%;
                            height: 100%;
                            visibility: hidden;
                            opacity: 0;

                            .close-post-img {
                                background-color: transparent;
                                border: none;
                                padding: 0;
                                position: absolute;
                                top: 0;
                                right: 5px;

                                i {
                                    color: lightgray;

                                    &:hover {
                                        color: #fff;
                                    }
                                }
                            }
                        }

                        &:hover {
                            .div-close-post-img {
                                visibility: visible;
                                opacity: 1;
                            }
                        }
                    }

                    .tools-item {
                        margin: 0;
                        display: block;
                        height: 100px;
                        flex: 0 0 100px;
                        position: relative;

                        img {
                            object-fit: cover;
                            width: 100%;
                            height: 100%;
                        }

                        &:hover {
                            cursor: pointer;
                        }
                    }
                }
            }
        }

        .card-body-tools {
            border-top: 1px solid #ccc;
            margin: 0 12px;
            padding-bottom: 12px;
            padding-top: 8px;
            display: flex;

            #tools-img {
                width: 0.1px;
                height: 0.1px;
                opacity: 0;
                overflow: hidden;
                position: absolute;
                z-index: -1;
            }

            label {
                margin: 0;
            }

            .tools-item {
                background: #f5f6f7;
                border-radius: 20px;
                display: inline-block;
                font-weight: 600;
                padding: 7px 24px;
                margin-right: 12px;
                font-size: 14px;

                &:hover {
                    cursor: pointer;
                }
            }
        }

        .card-footer {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 12px 12px 12px 12px;

            .form-group {
                margin: 0;

                select {
                    font-size: 14px;
                }
            }

            button {
                font-size: 14px;
                font-weight: 600;
                display: block;
                width: 60%;
            }
        }

        margin-bottom: 30px;
    }

    #group-contain {
        // position: fixed;
        .group-page {
            width: 260px;
            max-width: 260px;
            background-color: white;
            border: 1px solid rgb(200, 200, 200);
            border-radius: 4px;
            margin-bottom: 20px;

            .g-header {
                padding: 10px 15px;

                p {
                    margin: 0px 0px;
                }
            }

            .g-list {
                height: 250px;
                overflow-y: auto;

                ul {
                    padding: 0px 0px;
                    list-style-type: none;

                    li {
                        padding: 7px 15px;

                        span {
                            margin-right: 10px;

                            a {
                                font-size: 14.5px;
                                color: black;
                                text-decoration: none;
                            }

                            img {
                                object-fit: cover;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 600px) {
    .post-box {
        .post-box-modal {
            .modal-content {
                flex-direction: column;

                .col-7,
                .col-5 {
                    max-width: 100%;
                }
            }
        }
    }

    #messenger {
        display: none;
    }

    main {
        overflow-x: hidden;

        .container_new {
            .row {
                justify-content: center;

                .col-25 {
                    display: none;
                }

                .col-50 {
                    width: 90%;
                }
            }
        }
        /*#newpost {
            .newpost-input {
                .user-avatar {
                    img {
                        height: 35px;
                        width: 35px;
                    }
                }
            }
        }*/
    }
}
