
@{
    ViewBag.Title = "ChangePassWord";
    Layout = "~/Areas/Client/Views/Shared/_PersonalPage.cshtml";
}
@section css {

}

<!-- Tab panes -->
<div class="tab-content">
    <div class="tab-pane container fade" id="menu1">...</div>
    <div class="tab-pane container active" id="menu2">
        <ul class="nav nav-tabs flex-column">
            <li class="nav-item">
                <a class="nav-link" href="">Cài đặt chung</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="">Đổi mật khẩu</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="">Công việc và học vấn</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="">Những nơi bạn đã sống</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="">Gia đình và các mối quan hệ</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="">Chi tiết về bạn</a>
            </li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
            <div class="tab-pane container fade" id="menu2-1">...</div>
            <div class="tab-pane container active" id="menu2-2">
                <article class="change-password">
                    @*@using (Html.BeginForm("Login", "Login", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()*@
                        <div class="row">
                            <div class="col-md-3">
                                <div class="user-img">
                                    <img src="https://instagram.fhan5-5.fna.fbcdn.net/v/t51.2885-15/sh0.08/e35/s640x640/84635405_194047331707172_905347091518735666_n.jpg?_nc_ht=instagram.fhan5-5.fna.fbcdn.net&_nc_cat=108&_nc_ohc=30T6rFxoFPkAX_My8Gi&oh=6eeb993a747a48473844e02d19aa1f51&oe=5EC6635D" alt="">
                                </div>
                            </div>
                            <div class="col-md-9">
                                <h1 class="user-name">Thắng Bếu</h1>
                            </div>
                            <div class="col-md-3">
                                <label for="matkhaucu">Mật khẩu cũ</label>
                            </div>
                            <div class="col-md-9">
                                <div class="form-group">
                                    <input type="password" class="form-control" id="matkhaucu">
                                    <span class="success"><i class="fas fa-check-circle"></i></span>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <label for="matkhaumoi">Mật khẩu mới</label>
                            </div>
                            <div class="col-md-9">
                                <div class="form-group">
                                    <input type="password" class="form-control" id="matkhaumoi">
                                    <span class="success"><i class="fas fa-check-circle"></i></span>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <label for="nhaplaimatkhau">Nhập lại mật khẩu</label>
                            </div>
                            <div class="col-md-9">
                                <div class="form-group">
                                    <input type="password" class="form-control" id="nhaplaimatkhau">
                                    <span class="success"><i class="fas fa-check-circle"></i></span>
                                </div>
                            </div>
                            <div class="col-md-3">
                            </div>
                            <div class="col-md-9">
                                <button type="button" class="btn btn-primary">Đổi mật khẩu</button>
                            </div>
                        </div>
                    @*}*@
                </article>
            </div>
            <div class="tab-pane container fade" id="menu2-3">...</div>
            <div class="tab-pane container fade" id="menu2-4">...</div>
            <div class="tab-pane container fade" id="menu2-5">...</div>
            <div class="tab-pane container fade" id="menu2-6">...</div>
        </div>
    </div>
    <div class="tab-pane container fade" id="menu3">...</div>
    <div class="tab-pane container fade" id="menu4">...</div>
    <div class="tab-pane container fade" id="menu5">...</div>
    <div class="tab-pane container fade" id="menu6">...</div>
    <div class="tab-pane container fade" id="menu7">...</div>
</div>

