<!-- Fixed-side -->
<section class="fixed-side-2">
    <div class="side-name group-side">
        <p>
            group name
        </p>
        <small>
            Private
        </small>
    </div>
    <div class="side-ul group-side">
        <ul>
            <li>
                <a href="">Giới thiệu</a>
            </li>
            <li>
                <a href="">Thảo luận</a>
            </li>
            <li>
                <a href="">Công bố</a>
            </li>
            <li>
                <a href="">Thành viên</a>
            </li>
            <li>
                <a href="">Sự kiện</a>
            </li>
            <li>
                <a href="">Video</a>
            </li>
            <li>
                <a href="">Ảnh</a>
            </li>
            <li>
                <a href="">File</a>
            </li>
            <li>
                <a href="">Xem chung</a>
            </li>
        </ul>
    </div>
    <div class="side-search">
        <input type="text" placeholder="Tìm kiếm trong nhóm này" class="form-control">
    </div>
</section>
