<section id="group-contain">
    <div class="group-page">
        <div class="g-header">
            <p>
                Nhóm
            </p>
        </div>
        <div class="g-list">
            <ul>
                <li>
                    <span>
                        <img class="rounded rounded-circle" height="35px" width="35px" src="http://localhost/socialnetwork_frontend/media/78834391_459110258126325_6149001856166133760_n.jpg" alt="">
                    </span>
                    <span>
                        <a href="">
                            Tên nhóm đầy đủ
                        </a>
                    </span>
                </li>
                <li>
                    <span>
                        <img class="rounded rounded-circle" height="35px" width="35px" src="http://localhost/socialnetwork_frontend/media/78834391_459110258126325_6149001856166133760_n.jpg" alt="">
                    </span>
                    <span>
                        <a href="">
                            Tên nhóm đầy đủ
                        </a>
                    </span>
                </li>
                <li>
                    <span>
                        <img class="rounded rounded-circle" height="35px" width="35px" src="http://localhost/socialnetwork_frontend/media/78834391_459110258126325_6149001856166133760_n.jpg" alt="">
                    </span>
                    <span>
                        <a href="">
                            Tên nhóm đầy đủ
                        </a>
                    </span>
                </li>
            </ul>
        </div>
    </div>
    <div class="group-page">
        <div class="g-header">
            <p>
                Trang
            </p>
        </div>
        <div class="g-list">
            <ul>
                <li>
                    <span>
                        <img class="rounded rounded-circle" height="35px" width="35px" src="http://localhost/socialnetwork_frontend/media/78834391_459110258126325_6149001856166133760_n.jpg" alt="">
                    </span>
                    <span>
                        <a href="">
                            Tên trang đầy đủ
                        </a>
                    </span>
                </li>
                <li>
                    <span>
                        <img class="rounded rounded-circle" height="35px" width="35px" src="http://localhost/socialnetwork_frontend/media/78834391_459110258126325_6149001856166133760_n.jpg" alt="">
                    </span>
                    <span>
                        <a href="">
                            Tên trang đầy đủ
                        </a>
                    </span>
                </li>
                <li>
                    <span>
                        <img class="rounded rounded-circle" height="35px" width="35px" src="http://localhost/socialnetwork_frontend/media/78834391_459110258126325_6149001856166133760_n.jpg" alt="">
                    </span>
                    <span>
                        <a href="">
                            Tên trang đầy đủ
                        </a>
                    </span>
                </li>
            </ul>
        </div>
    </div>
</section>
