<section id="group-contain">
    <div class="group-page">
        <div class="g-header">
            <p>
                Nhóm
            </p>
        </div>
        <div class="g-list">
            <ul>
                <li class="d-flex">
                    <span>
                        <img class="rounded rounded-circle" height="35px" width="35px" src="/Images/nhom1.png" alt="">
                    </span>
                    <span>
                        <a href="" style="line-break: anywhere;">
                            TIKTOK
                        </a>
                    </span>
                </li>
                <li class="d-flex">
                    <span>
                        <img class="rounded rounded-circle" height="35px" width="35px" src="/Images/nhom2.jpg" alt="">
                    </span>
                    <span>
                        <a href="" style="line-break: anywhere;">
                            INSTAGRAM
                        </a>
                    </span>
                </li>
                <li class="d-flex">
                    <span>
                        <img class="rounded rounded-circle" height="35px" width="35px" src="/Images/nhom3.png" alt="">
                    </span>
                    <span>
                        <a href="" style="line-break: anywhere;">
                            FACEBOOK
                        </a>
                    </span>
                </li>
                <li class="d-flex">
                    <span>
                        <img class="rounded rounded-circle" height="35px" width="35px" src="/Images/nhom4.png" alt="">
                    </span>
                    <span>
                        <a href="" style="line-break: anywhere;">
                            YOUTUBE
                        </a>
                    </span>
                </li>
                <li class="d-flex">
                    <span>
                        <img class="rounded rounded-circle" height="35px" width="35px" src="/Images/nhom5.png" alt="">
                    </span>
                    <span>
                        <a href="" style="line-break: anywhere;">
                            SNAPCHAT
                        </a>
                    </span>
                </li>
            </ul>
        </div>
    </div>
    <div class="group-page">
        <div class="g-header">
            <p>
                Trang
            </p>
        </div>
        <div class="g-list">
            <ul>
                <li class="d-flex">
                    <span>
                        <img class="rounded rounded-circle" height="35px" width="35px" src="/Images/trang1.png" alt="">
                    </span>
                    <span>
                        <a href="" style="line-break: anywhere;">
                            AFK ARENA
                        </a>
                    </span>
                </li>
                <li class="d-flex">
                    <span>
                        <img class="rounded rounded-circle" height="35px" width="35px" src="/Images/trang2.png" alt="">
                    </span>
                    <span>
                        <a href="" style="line-break: anywhere;">
                            PLANTS VS ZOMBIES
                        </a>
                    </span>
                </li>
                <li class="d-flex">
                    <span>
                        <img class="rounded rounded-circle" height="35px" width="35px" src="/Images/trang3.jpg" alt="">
                    </span>
                    <span>
                        <a href="" style="line-break: anywhere;">
                            CLASH ROYALE
                        </a>
                    </span>
                </li>
                <li class="d-flex">
                    <span>
                        <img class="rounded rounded-circle" height="35px" width="35px" src="/Images/trang4.png" alt="">
                    </span>
                    <span>
                        <a href="" style="line-break: anywhere;">
                            IDLE HEROES
                        </a>
                    </span>
                </li>
                <li class="d-flex">
                    <span>
                        <img class="rounded rounded-circle" height="35px" width="35px" src="/Images/trang5.png" alt="">
                    </span>
                    <span>
                        <a href="" style="line-break: anywhere;">
                            LEAGUE OF LEGENDS
                        </a>
                    </span>
                </li>
            </ul>
        </div>
    </div>
</section>
