header {
    background-color: #fff;
    padding: 10px 0;

    h3 {
        // background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
        //  	-webkit-background-clip: text;
        //  	-webkit-text-fill-color: transparent;
        margin-bottom: 0;
        font-size: 28px;

        a {
            color: #003569;

            &:hover {
                text-decoration: none;
            }
        }
    }

    form {
        display: flex;
        align-items: center;

        .form-group {
            margin-bottom: 0;
            width: 86%;

            .form-control {
                border-top-right-radius: 0;
                border-bottom-right-radius: 0;

                &:focus {
                    box-shadow: none;
                    border-color: #ced4da;
                }
            }
        }

        button.btn {
            background-color: #e9ecef;
            border: 1px solid #ced4da;
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
            margin-left: -1px;

            &:focus {
                box-shadow: none;
                border-color: #ced4da;
            }
        }
    }

    .header-icon {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        margin-top: 6px;
        position: relative;

        button.btn-light {
            padding: 0;
            margin-right: 0;
            background-color: #fff;
            border: none;
            position: relative;

            &:focus {
                box-shadow: none;
            }

            margin-left: 22px;

            i {
                &:before {
                    font-size: 24px;
                }
            }

            &:after {
                display: none;
            }
        }

        #header-notification,
        #header-friendrequest,
        #header-user {
            background-color: #fff;
            width: 500px;
            box-shadow: 0 0 5px rgba(0, 0, 0, .0975);
            border: 1px solid #f7f7f7;
            top: 12px !important;
            left: -155px !important;
            max-height: 362px;
            min-height: 100px;
            overflow: auto;
            padding: 0;
            overflow-x: hidden;
            /* width */
            &::-webkit-scrollbar {
                width: 7px;
            }
            /* Track */
            &::-webkit-scrollbar-track {
                background: #f1f1f1;
            }
            /* Handle */
            &::-webkit-scrollbar-thumb {
                background: #888;
            }
            /* Handle on hover */
            &::-webkit-scrollbar-thumb:hover {
                background: #555;
            }

            .dropdown-item {
                display: flex;
                align-items: center;
                justify-content: space-between;
                min-height: 40px;
                padding: 10px 20px;

                .notification-users-avatar {
                    width: 20%;

                    img {
                        width: 50px;
                        height: 50px;
                        border-radius: 50%;
                        object-fit: cover;
                        margin-right: 10px;
                    }
                }

                .notification-user-content {
                    width: 80%;
                }
            }

            .daxem {
                background-color: rgb(240, 242, 246);
            }
        }

        #header-notification {
            .posted {
                p {
                    margin: 0;
                    font-size: 16px;
                    -webkit-box-orient: vertical;
                    display: -webkit-box;
                    text-align: justify;
                    overflow: hidden;
                    -webkit-line-clamp: 2;
                    white-space: initial;
                }

                time {
                    font-size: 15px;
                    color: #999;
                }
            }

            .post-noti {
                width: 70% !important;

                p {
                    margin: 0;
                    font-size: 16px;
                    -webkit-box-orient: vertical;
                    display: -webkit-box;
                    text-align: justify;
                    overflow: hidden;
                    -webkit-line-clamp: 2;
                    white-space: initial;
                }

                time {
                    font-size: 15px;
                    color: #999;
                }
            }

            .post-noti-img {
                width: 10%;
                padding-left: 0px;

                img {
                    height: 35px;
                    width: 35px;
                }
            }

            .invitation {
                p {
                    margin: 0;
                    font-size: 16px;
                    -webkit-box-orient: vertical;
                    display: -webkit-box;
                    text-align: justify;
                    overflow: hidden;
                    -webkit-line-clamp: 2;
                    white-space: initial;
                }

                time {
                    font-size: 15px;
                    color: #999;
                }

                a {
                    margin-left: 10px;
                    font-size: 15px;
                    text-decoration: none;
                }

                .confirm {
                    color: #003569;
                }

                .cancel {
                    color: gray;
                }
            }
        }

        #header-friendrequest {
            .notification-user-content {
                display: flex;
                justify-content: flex-end;

                a {
                    margin: 0px 7px;
                    font-size: 14px;
                    text-decoration: none;
                }

                .confirm {
                    padding: 7px 10px;
                    color: white;
                    background-color: #003569;
                }

                .cancel {
                    color: gray;
                    padding: 7px 10px;
                    border: 1px solid gray;
                }
            }
        }

        #header-user {
            .notification-user-content {
            }
        }
    }
}
