.add-post-box {
    .card-header {
        h3 {
            font-size: 16px;
            margin-bottom: 0;

            i {
                margin-right: 5px;
            }
        }
    }

    .card-body {
        padding: 12px;

        .card-body-content {
            display: flex;

            .user-ava {
                width: 42px;
                height: 42px;
                margin-right: 8px;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    border-radius: 50%;
                    border: 1px solid red;
                    padding: 1px;
                }
            }

            .form-group {
                margin: 0;
                padding: 0 48px 0 12px;
                width: 92%;

                textarea {
                    resize: none;
                    width: 100%;
                    height: 36px;
                    overflow: hidden;
                    border: none;

                    &:focus {
                        border: none;
                        outline: none;
                        box-shadow: none;
                    }
                }
            }
        }

        .card-body-input {
            margin-top: 8px;
            /*display: none;*/
            .input-group-text {
                min-width: 40px;
            }

            input {
                font-size: 14px;
            }
        }

        .post-diadiem, .post-ganthe, .post-chude {
            display: none;
        }

        .post-ganthe {
            border: 1px solid #ced4da;

            .input-group-prepend {
                .input-group-text {
                    border: none;
                    /*padding: 0;*/
                }
            }

            #friends-tag {
                display: flex;
                align-items: center;
                margin-left: 12px;

                .friends-tag-span {
                    background: #e9ebee;
                    padding: 1px 6px;
                    margin-right: 6px;
                    border: 1px solid #9cb4d8;
                    border-radius: 20px;

                    a {
                        color: gray;
                        text-decoration: none;

                        i {
                            padding-left: 3px;
                        }
                    }
                }
            }

            #post-banbe-data {
                border: none;
                padding: 6px 12px 6px 0;

                &:focus {
                    outline: none;
                    box-shadow: none;
                    border: none;
                }
            }
        }

        .card-body-result {
            margin-top: 8px;
            /*display: none;*/
            .card-body-result-text {
                margin: 0;

                #result-tenbanbe {
                    margin-right: 5px;
                }
            }

            .card-body-result-img {
                margin: 4px 0;
                display: none;
                position: relative;
                overflow-x: auto;
                /* width */
                &::-webkit-scrollbar {
                    width: 3px !important;
                }
                /* Track */
                &::-webkit-scrollbar-track {
                    background: #f1f1f1;
                }
                /* Handle */
                &::-webkit-scrollbar-thumb {
                    background: #888;
                }
                /* Handle on hover */
                &::-webkit-scrollbar-thumb:hover {
                    background: #555;
                }

                .selected-post-img {
                    height: 100px;
                    flex: 0 0 100px;
                    margin-right: 5px;
                    position: relative;

                    img {
                        object-fit: cover;
                        width: 100%;
                        height: 100%;
                    }

                    .div-close-post-img {
                        position: absolute;
                        top: 0;
                        left: 0;
                        background-color: rgba(0, 0, 0, 0.3);
                        width: 100%;
                        height: 100%;
                        visibility: hidden;
                        opacity: 0;

                        .close-post-img {
                            background-color: transparent;
                            border: none;
                            padding: 0;
                            position: absolute;
                            top: 0;
                            right: 5px;

                            i {
                                color: lightgray;

                                &:hover {
                                    color: #fff;
                                }
                            }
                        }
                    }

                    &:hover {
                        .div-close-post-img {
                            visibility: visible;
                            opacity: 1;
                        }
                    }
                }

                .tools-item {
                    margin: 0;
                    display: block;
                    height: 100px;
                    flex: 0 0 100px;
                    position: relative;

                    img {
                        object-fit: cover;
                        width: 100%;
                        height: 100%;
                    }

                    &:hover {
                        cursor: pointer;
                    }
                }
            }
        }
    }

    .card-body-tools {
        border-top: 1px solid #ccc;
        margin: 0 12px;
        padding-bottom: 12px;
        padding-top: 8px;
        display: flex;

        #tools-img {
            width: 0.1px;
            height: 0.1px;
            opacity: 0;
            overflow: hidden;
            position: absolute;
            z-index: -1;
        }

        label {
            margin: 0;
        }

        .tools-item {
            background: #f5f6f7;
            border-radius: 20px;
            display: inline-block;
            font-weight: 600;
            padding: 7px 24px;
            margin-right: 12px;
            font-size: 14px;

            &:hover {
                cursor: pointer;
            }
        }
    }

    .card-footer {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 12px 12px 12px 12px;

        .form-group {
            margin: 0;

            select {
                font-size: 14px;
            }
        }

        button {
            font-size: 14px;
            font-weight: 600;
            display: block;
            width: 60%;
        }
    }

    margin-bottom: 30px;
}

.ui-autocomplete {
    z-index: 2147483647;
    position: relative;
}

.post-box {
    margin-bottom: 30px;
    border-radius: 4px;
    border: 1px solid rgb(200, 200, 200);
    background-color: white;
    display: block;

    .post-box-modal {
        .modal-dialog {
            max-width: 950px !important;

            .modal-content {
                padding: 10px 0px;
                display: flex;
                flex-direction: row;

                .modal-col-7 {
                    display: flex;
                    align-items: center;
                    height: 600px;
                    width: 600px;
                }

                .modal-col-5 {
                    width: 340px;
                    height: 600px;
                }

                .post-content {
                    padding: 0px 10px;
                    width: 100%;
                    height: 100%;

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }

                .post-title {
                    padding: 0px;
                    padding-right: 10px;
                    padding-bottom: 10px;

                    img {
                        margin-right: 10px;
                    }

                    p {
                        margin: 0px 0px;

                        a {
                            color: #000;
                            text-decoration: none;
                            font-weight: 500;
                            font-size: 16px;
                        }

                        span {
                            margin-left: 5px;
                        }
                    }
                }

                .post-content-text {
                    margin-right: 10px;
                    font-size: 16px;
                    border-bottom: 1px solid #efefef;
                    padding-bottom: 12px;
                    margin: 0;
                    word-break: break-all;
                }

                .post-socialfunction {
                    .user-comments {
                        overflow-y: auto;
                        padding: 8px 0;
                        padding-right: 10px;
                        border-bottom: 1px solid #efefef;
                        height: 350px;
                        overflow-y: auto;
                        /* width */
                        &::-webkit-scrollbar {
                            transition: 0.3s;
                            opacity: 1;
                            width: 7px;
                        }
                        /* Track */
                        &::-webkit-scrollbar-track {
                            background: #f1f1f1;
                        }
                        /* Handle */
                        &::-webkit-scrollbar-thumb {
                            background: #888;
                        }
                        /* Handle on hover */
                        &::-webkit-scrollbar-thumb:hover {
                            opacity: 0.35;
                            background: #555;
                        }
                    }

                    .post-icons,
                    .post-time {
                        padding: 0;
                        padding-right: 10px;
                    }

                    .post-time {
                        p {
                            font-size: 12px;
                        }

                        padding-bottom: 3px;
                    }

                    .list-like {
                        button {
                            padding: 0;
                            font-size: 14px;
                        }

                        .modal-list-like-post {
                            .modal-dialog {
                                max-width: 500px !important;

                                .modal-content {
                                    padding: 0px;
                                    display: flex;
                                    flex-direction: column;

                                    .close {
                                        padding: 16px;
                                        font-size: 24px;
                                    }
                                }
                            }
                        }
                    }

                    .comment-bar {
                        border: none;
                        padding-left: 0;
                    }
                }
            }
        }
    }

    .post-option-modal {
        .modal-body {
            padding: 0px 0px;

            ul {
                margin: 0px 0px;
                padding: 0px 0px;
                list-style-type: none;

                li {
                    border-radius: 5px;
                    padding: 10px 0px;

                    a {
                        color: gray;
                        text-decoration: none;
                        display: block;
                        text-align: center;
                    }

                    .report {
                        color: red;
                        font-weight: 600;
                    }

                    &:hover {
                        background-color: rgb(220, 220, 220);
                    }
                }
            }
        }
    }

    .show-edit-post-modal {
        .modal-dialog {
            max-width: 600px;

            .modal-content {
                .modal-header {
                    h3 {
                        font-size: 16px;

                        i {
                            margin-right: 5px;
                        }
                    }
                }

                .modal-body {
                    .modal-body-content {
                        display: flex;

                        .user-ava {
                            width: 42px;
                            height: 42px;
                            margin-right: 8px;

                            img {
                                width: 100%;
                                height: 100%;
                                object-fit: cover;
                                border-radius: 50%;
                                border: 1px solid red;
                                padding: 1px;
                            }
                        }

                        .form-group {
                            margin: 0;
                            padding: 0 48px 0 12px;
                            width: 92%;

                            textarea {
                                resize: none;
                                width: 100%;
                                height: 36px;
                                overflow: hidden;
                                border: none;

                                &:focus {
                                    outline: none;
                                    box-shadow: none;
                                    border: none;
                                }
                            }
                        }
                    }

                    .modal-body-input {
                        margin-top: 8px;
                        /*display: none;*/
                        .input-group-text {
                            min-width: 40px;
                        }

                        input {
                            font-size: 14px;
                        }
                    }

                    .edit-post-diadiem, .edit-post-ganthe, .edit-post-chude {
                        display: none;
                    }

                    .edit-post-ganthe {
                        border: 1px solid #ced4da;

                        .input-group-prepend {
                            .input-group-text {
                                border: none;
                                /*padding: 0;*/
                            }
                        }

                        .edit-friends-tag {
                            display: flex;
                            align-items: center;
                            margin-left: 12px;

                            .friends-tag-span {
                                background: #e9ebee;
                                padding: 1px 6px;
                                margin-right: 6px;
                                border: 1px solid #9cb4d8;
                                border-radius: 20px;

                                a {
                                    color: gray;
                                    text-decoration: none;

                                    i {
                                        padding-left: 3px;
                                    }
                                }
                            }

                            .edit-post-bande-data {
                                border: none;
                                padding: 6px 12px 6px 0;

                                &:focus {
                                    outline: none;
                                    box-shadow: none;
                                    border: none;
                                }
                            }
                        }
                    }

                    .modal-body-result {
                        margin-top: 8px;
                        /*display: none;*/
                        .modal-body-result-text {
                            margin: 0;

                            .edit-result-tenbanbe {
                                margin-right: 5px;
                            }
                        }

                        .modal-body-result-img {
                            margin: 4px 0;
                            display: none;
                            position: relative;
                            overflow-x: auto;
                            /* width */
                            &::-webkit-scrollbar {
                                width: 3px !important;
                            }
                            /* Track */
                            &::-webkit-scrollbar-track {
                                background: #f1f1f1;
                            }
                            /* Handle */
                            &::-webkit-scrollbar-thumb {
                                background: #888;
                            }
                            /* Handle on hover */
                            &::-webkit-scrollbar-thumb:hover {
                                background: #555;
                            }

                            .edit-selected-post-img {
                                height: 100px;
                                flex: 0 0 100px;
                                margin-right: 5px;
                                position: relative;

                                img {
                                    object-fit: cover;
                                    width: 100%;
                                    height: 100%;
                                }

                                .edit-div-close-post-img {
                                    position: absolute;
                                    top: 0;
                                    left: 0;
                                    background-color: rgba(0, 0, 0, 0.3);
                                    width: 100%;
                                    height: 100%;
                                    visibility: hidden;
                                    opacity: 0;

                                    .edit-close-post-img {
                                        background-color: transparent;
                                        border: none;
                                        padding: 0;
                                        position: absolute;
                                        top: 0;
                                        right: 5px;

                                        i {
                                            color: lightgray;

                                            &:hover {
                                                color: #fff;
                                            }
                                        }
                                    }
                                }

                                &:hover {
                                    .edit-div-close-post-img {
                                        visibility: visible;
                                        opacity: 1;
                                    }
                                }
                            }

                            .edit-tools-item {
                                margin: 0;
                                display: block;
                                height: 100px;
                                flex: 0 0 100px;
                                position: relative;

                                img {
                                    object-fit: cover;
                                    width: 100%;
                                    height: 100%;
                                }

                                &:hover {
                                    cursor: pointer;
                                }
                            }
                        }
                    }

                    .modal-body-tools {
                        border-top: 1px solid #ccc;
                        padding-top: 8px;
                        display: flex;

                        .tools-img {
                            width: 0.1px;
                            height: 0.1px;
                            opacity: 0;
                            overflow: hidden;
                            position: absolute;
                            z-index: -1;
                        }

                        label {
                            margin: 0;
                        }

                        .tools-item {
                            background: #f5f6f7;
                            border-radius: 20px;
                            display: inline-block;
                            font-weight: 600;
                            padding: 7px 24px;
                            margin-right: 12px;
                            font-size: 14px;

                            &:hover {
                                cursor: pointer;
                            }
                        }
                    }
                }

                .modal-footer {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    padding: 12px 12px 12px 12px;

                    .form-group {
                        margin: 0;

                        select {
                            font-size: 14px;
                        }
                    }

                    button {
                        font-size: 14px;
                        font-weight: 600;
                        display: block;
                        width: 60%;
                    }
                }
            }
        }
    }

    .modal-share {
        .modal-content {
            .modal-body {
                .user-share {
                    .user-info {
                        display: flex;
                        align-items: center;

                        .user-ava {
                            width: 40px;
                            height: 40px;
                            margin-right: 12px;

                            img {
                                height: 100%;
                                width: 100%;
                                object-fit: cover;
                                border-radius: 50%;
                            }
                        }

                        .user-detail {

                            .user-name {
                                font-size: 18px;
                                margin-bottom: 0;

                                a {
                                    color: #000;
                                    text-decoration: none;
                                }
                            }

                            .form-group {
                                margin: 0;

                                select {
                                    font-size: 14px;
                                    padding: 6px;
                                    padding-left: 3px;
                                    width: 136px;
                                    border: none;

                                    &:focus {
                                        box-shadow: none;
                                        outline: none;
                                    }
                                }
                            }
                        }

                        margin-bottom: 10px;
                    }

                    .form-group {
                        margin: 0;

                        textarea {
                            width: 100%;
                            border: none;
                            resize: none;
                            padding-left: 0;
                            /* width */
                            &::-webkit-scrollbar {
                                width: 7px;
                            }
                            /* Track */
                            &::-webkit-scrollbar-track {
                                background: #f1f1f1;
                            }
                            /* Handle */
                            &::-webkit-scrollbar-thumb {
                                background: #888;
                            }
                            /* Handle on hover */
                            &::-webkit-scrollbar-thumb:hover {
                                background: #555;
                            }

                            &:focus {
                                box-shadow: none;
                                outline: none;
                            }
                        }
                    }
                }
            }
        }
    }

    .post-title,
    .post-content {
        padding: 10px 15px;
    }

    .post-title {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .post-info {
            align-items: center;
            display: flex;

            img {
                margin-right: 10px;
                object-fit: cover;
                border: 1px solid red;
                padding: 1px;
            }

            p {
                margin: 0px 0px;

                a {
                    color: #000;
                    text-decoration: none;
                    font-weight: 500;
                    font-size: 16px;
                }

                span {
                    margin-left: 5px;
                }
            }
        }

        .post-option {
            cursor: pointer;
            font-size: 20px;
            font-weight: 600;
            padding-bottom: 10px;
        }
    }

    .post-content {
        display: block;
        padding: 0;
        height: unset;

        .post-content-text {
            padding-left: 15px;
            padding-right: 15px;
            font-size: 16px;
            word-break: break-all;
        }

        .post-content-image {
            width: inherit;
            max-height: 480px;

            img {
                width: 100%;
                height: auto;
                max-height: 480px;
                object-fit: cover;
            }

            .soanh-2 {
                margin: 0 -1px;

                .col-md-6 {
                    padding: 0 1px;

                    img {
                        width: 100%;
                        height: 480px;
                        object-fit: cover;
                    }
                }
            }

            .soanh-3 {
                margin: 0 -1px;

                .col-md-12 {
                    padding: 0 1px;

                    img {
                        width: 100%;
                        height: 319px;
                        object-fit: cover;
                    }

                    margin-bottom: 2px;
                }

                .col-md-6 {
                    padding: 0 1px;

                    img {
                        width: 100%;
                        height: 159px;
                        object-fit: cover;
                    }
                }
            }

            .soanh-4 {
                margin: 0 -1px;

                .col-md-12 {
                    padding: 0 1px;

                    img {
                        width: 100%;
                        height: 319px;
                        object-fit: cover;
                    }

                    margin-bottom: 2px;
                }

                .col-md-4 {
                    padding: 0 1px;

                    img {
                        width: 100%;
                        height: 159px;
                        object-fit: cover;
                    }
                }
            }

            .soanh-5 {
                margin: 0 -1px;

                .col-md-6 {
                    padding: 0 1px;

                    img {
                        width: 100%;
                        height: 319px;
                        object-fit: cover;
                    }

                    margin-bottom: 2px;
                }

                .col-md-4 {
                    padding: 0 1px;

                    img {
                        width: 100%;
                        height: 159px;
                        object-fit: cover;
                    }
                }
            }
        }
    }

    .post-socialfunction {
        .post-icons {
            padding: 0 16px;
            margin-top: 4px;

            button {
                background-color: #fff;
                padding: 8px;
                border: none;

                &:first-child {
                    margin-left: -8px;
                }

                &:last-child {
                    margin-right: -8px;
                    float: right;
                }

                i {
                    &:before {
                        font-size: 24px;
                        font-weight: 400;
                    }
                }
            }

            .post-like-icon {
                i {
                    color: #000;
                }

                &:hover {
                    i {
                        transform: scale(1.3,1.3);
                    }
                }
            }

            .liked {
                i {
                    color: red;

                    &:before {
                        font-weight: 600;
                    }
                }

                &:hover {
                    i {
                        transform: scale(1.3,1.3);
                    }
                }
            }
        }

        .list-like {
            button {
                background-color: #fff;
                border: none;
                padding: 0;
                padding-left: 16px;
                font-weight: 600;
                color: black;
            }

            .close {
                padding: 16px;
            }

            .list-like-item {
                display: flex;
                align-items: center;
                margin-bottom: 10px;

                .list-like-item-ava {
                    width: 50px;
                    height: 50px;
                    margin-right: 10px;

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        border-radius: 50%;
                    }
                }

                .list-like-item-name {
                    margin: 0;
                    font-size: 16px;
                    font-weight: bold;

                    a {
                        color: black;
                        text-decoration: none;
                    }
                }
            }
        }

        .post-time {
            margin-top: 4px;
            padding: 0 16px;
            border-bottom: 1px solid #efefef;
            padding-bottom: 8px;

            p {
                margin-bottom: 0;
                text-transform: uppercase;
                color: #999;
                letter-spacing: 1.2px;
                font-size: 12px;
            }
        }

        .user-comments {
            padding: 8px 12px;

            .comment-list {
                .comment-item {
                    .comment-item-parent, .comment-item-child {
                        display: flex;

                        .user-ava {
                            height: 36px;
                            width: 36px;
                            margin-right: 12px;

                            img {
                                height: 100%;
                                width: 100%;
                                border: 1px solid red;
                                padding: 2px;
                                object-fit: cover;
                                border-radius: 50%;
                            }
                        }

                        .comment-item-detail {
                            h3.user-name {
                                margin: 0;
                                padding: 0;
                                font-size: 14px;
                                display: inline;
                                margin-right: 4px;

                                a {
                                    color: #000;
                                    text-decoration: none;
                                }
                            }

                            .comment-item-info {
                                padding: 6px 0 4px 0;

                                time {
                                    margin-right: 12px;
                                    color: #999;
                                    font-size: 12px;
                                }

                                button {
                                    background-color: #fff;
                                    border: 0;
                                    margin-right: 12px;
                                    padding: 0;
                                    color: #999;
                                    font-size: 12px;
                                    font-weight: 600;

                                    &:focus {
                                        box-shadow: none;
                                    }
                                }
                            }
                        }

                        .comment-item-tool {
                            margin-left: auto;
                            padding-top: 10px;
                        }
                    }

                    .comment-item-childs {
                        margin-top: 6px;
                        margin-left: 47px;

                        button {
                            background-color: #fff;
                            border: 0;
                            padding: 0;
                            margin: 0;
                            font-size: 12px;
                            font-weight: 500;
                            color: #999;
                            margin-bottom: 12px;

                            &:focus {
                                box-shadow: none;
                            }
                        }
                    }

                    .comment-bar-child {
                        display: none;
                        margin-left: 47px;
                        padding: 8px 0;

                        .user-ava {
                            height: 36px;
                            width: 36px;
                            margin-right: 12px;

                            img {
                                height: 100%;
                                width: 100%;
                                border: 1px solid red;
                                padding: 2px;
                                object-fit: cover;
                                border-radius: 50%;
                            }
                        }

                        .form-group {
                            display: flex;
                            align-items: center;
                            margin: 0;
                            width: 87%;

                            textarea {
                                resize: none;
                                overflow: auto;
                                height: 25px;
                                max-height: 80px;
                                padding: 0;
                                margin: 0;
                                border: none;
                                font-size: 14px;

                                &:focus {
                                    box-shadow: none;
                                    border: none;
                                }
                                /* width */
                                &::-webkit-scrollbar {
                                    width: 7px;
                                }
                                /* Track */
                                &::-webkit-scrollbar-track {
                                    background: #f1f1f1;
                                }
                                /* Handle */
                                &::-webkit-scrollbar-thumb {
                                    background: #888;
                                }
                                /* Handle on hover */
                                &::-webkit-scrollbar-thumb:hover {
                                    background: #555;
                                }
                            }
                        }

                        button {
                            color: #3897f0;
                            border: none;
                            padding: 0;
                            margin: 0;
                            background-color: #fff;
                            font-size: 14px;

                            &:focus {
                                box-shadow: none;
                            }
                        }
                    }
                }
            }
        }

        .comment-bar {
            display: flex;
            padding: 0 16px;
            min-height: 56px;
            border-top: 1px solid #efefef;

            .form-group {
                display: flex;
                align-items: center;
                margin: 0;
                width: 96%;

                textarea {
                    resize: none;
                    overflow: auto;
                    height: 25px;
                    max-height: 80px;
                    padding: 0;
                    margin: 0;
                    border: none;
                    font-size: 14px;

                    &:focus {
                        box-shadow: none;
                        border: none;
                    }
                    /* width */
                    &::-webkit-scrollbar {
                        width: 7px;
                    }
                    /* Track */
                    &::-webkit-scrollbar-track {
                        background: #f1f1f1;
                    }
                    /* Handle */
                    &::-webkit-scrollbar-thumb {
                        background: #888;
                    }
                    /* Handle on hover */
                    &::-webkit-scrollbar-thumb:hover {
                        background: #555;
                    }
                }
            }

            button {
                color: #3897f0;
                border: none;
                padding: 0;
                margin: 0;
                background-color: #fff;
                font-size: 14px;

                &:focus {
                    box-shadow: none;
                }
            }
        }
    }
}
