
@{
    ViewBag.Title = "RegisterStep1";
    Layout = "~/Areas/Client/Views/Shared/Newsfeed.cshtml";
}
@section css {
    <link href="~/Assets/css/layouts/header.css" rel="stylesheet" />
    <link href="~/Assets/css/layouts/footer.css" rel="stylesheet" />
    <link href="~/Assets/css/pages/404page.css" rel="stylesheet" />
}
@{
    Html.RenderPartial("~/Areas/Client/Views/Layout/header.cshtml");
}
<main>
    <div class="container">
        <div class="page-404">
            <div class="notification">
                <h1>Sorry, this page isn't available</h1>
                <h5>The link followed may be broken, or the page may have been removed. <a href="#">Go back to Wibook</a></h5>
            </div>
        </div>
    </div>
</main>
@{
    Html.RenderPartial("~/Areas/Client/Views/Layout/footer.cshtml");
}
