<article id="messenger">
    <div class="messenger-header">
        <p>
            Name
        </p>
        <p id="message-close">
            &times;
        </p>
    </div>
    <div class="messenger-body">
        <div class="messenger-box">
            <p>Dòng tin nhắn số 1</p>
        </div>
        <div class="messenger-box">
            <p>Dòng tin nhắn số 2</p>
        </div>
        <div class="messenger-box">
            <p>Dòng tin nhắn số 3</p>
        </div>
    </div>
    <div class="messenger-reply">
        <input type="text" class="form-control" placeholder="Nhập tin nhắn">
        <button>
            Gửi
        </button>
    </div>
</article>